.search {
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 5rem;
  }
  
  .search-form {
    width: 85vw;
    margin: 0 auto;
    max-width: 40rem;
    background: #fff;
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  }
  
  .form-control label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: orangered;
    font-size: large;
    text-align: left;
  }
  .form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: #f1f5f8;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.2rem;
  }.search {
    margin-top: 1rem;
    padding-bottom: 0;
    margin-bottom: 5rem;
  }
  
  .search-form {
    width: 85vw;
    margin: 0 auto;
    max-width: 40rem;
    background: #fff;
    padding: 2rem 2.5rem;
    text-transform: capitalize;
    border-radius: 0.25rem;
    box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  }
  
  .form-control label {
    display: block;
    margin-bottom: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    color: orangered;
    font-size: large;
    text-align: left;
  }
  .form-control input {
    width: 100%;
    border: none;
    border-color: transparent;
    background: #f1f5f8;
    border-radius: 0.25rem;
    padding: 0.5rem;
    font-size: 1.2rem;
  }